<table class="layui-table"> 
    <thead>
      <tr>
        <th colspan="2" scope="col">当前<b style="color: red;"><?php echo $version['site_num'] ;?></b>站点,正在使用本插件</th>
        <th colspan="1" scope="col"><?php echo $not;?></th>
      </tr>
    </thead>
</table>
  <table class="layui-table">
    <tbody>
      <?php if($imglist) { foreach($imglist as &$imgarr) { ?>
      <tr align="center">
        <?php $colors = array("#FF00FF", "red", "blue", "#000", "#0c9c0c", "#9400D3", "#00bec7");
          ?>
        <?php foreach($imgarr as &$_img) { ?>
        <td><a target="_blank" href="<?php echo $_img['url'];?>"><b
              style="color:<?php echo  $colors[array_rand($colors)];?>"><img
                src="/addons/auto/img/huo.gif"><?php echo $_img['name'];?></b></a> </td>
        <?php } ?>
      </tr>
      <?php }} else { ?>
      
      <?php } ?>
    </tbody>
  </table>
