<div class="layui-col-md12">
            <div class="grid-demo">
              <div class="panel-body layadmin-homepage-shadow">
                <div class="media-body">
                  <div class="pad-btm">
                    <p class="fontColor"><?php echo $datelist['title'];?></p>
                    <p class="min-font">
                     
                        <a href="javascript:;">来源</a><span lay-separator="">-网络整理</span>
                        <a href="javascript:;">分类-<?php echo $datelist['type'];?></a>
                      </span>
                    </p>         
                  </div>
                  <p><?php echo $datelist['date'];?></p>
                </div>
              </div>
            </div>
          </div>