 <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">苹果CMSV10常用教程</div>
          <div class="layui-card-body">
            <table class="layui-table">
              <colgroup>
                <col width="150">
                <col width="150">
                <col>
                <col width="200">
                
              </colgroup>
              <thead>
                <tr>
                  <th>分类</th>
                  <th>来源</th>
                  <th>标题</th>
                  <th>查看详情</th>
                </tr> 
              </thead>
              <tbody>
                  <?php if($v10list) { foreach($v10list as &$_v) { ?>
                <tr >
                  <td><?php echo $_v['type'];?></td>
                  <td>网络整理</td>
                  <td><a href="<?php echo $ssl.$_SERVER['HTTP_HOST'];?>/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/Auto/help?id=<?php echo $_v['Id'];?>"><?php echo $_v['title'];?></a></td>
                  <td><a href="<?php echo $ssl.$_SERVER['HTTP_HOST'];?>/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/Auto/help?id=<?php echo $_v['Id'];?>">查看详细</a></td>
                </tr>
               <?php }} else { ?>
              暂无相关数据
              <?php } ?>
              </tbody>
            </table>
          </div>
        </div>
      </div>