 <table class="layui-table">
            <thead>
              <tr>
                <th>资源站推荐 </th>
              </tr>
            </thead>
            <tbody>

              <?php $i=0;if($apilist) { foreach($apilist as &$_api ) { $i++; ?>

              <?php         
if($i <= 5){
echo '<tr style="background-color: #cff5f7;">';
}elseif($i <=10){
echo '<tr style="background-color: #f9d1e5;">';
}else{
echo '<tr style="background-color: #e6f9ce;">';
} 
?>

              <td width="70" align="center"><span class="layui-badge layui-bg-red">
                  <?php echo $_api['type'];?>
                </span></td>
              <td><a href="<?php echo $_api['url'];?>">
                  <?php echo $_api['name'];?>【<?php echo $_api['newname'];?>】<span style="color:red;">【<?php echo $_api['sn_name'];?>】<?php         
if($i <= 5){
echo '<img src="/addons/auto/img/h.gif">';
}elseif($i <=10){
echo '<img src="/addons/auto/img/z.gif">';
}else{
echo '<img src="/addons/auto/img/l.gif">';
} 
?></span>
                </a></td>
              <td width="80" align="center"><a style="color:#1E90FF;" href="/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/Auto/addplay?name=<?php echo $_api['name'];?>&apiinfo=<?php echo $_api['apiinfo'];?>&playurl=<?php echo $_api['play'];?>">播放配置</a>
              </td>
              <!--<td width="80" align="center"><a style="color:#1E90FF;"
            href="/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/Auto/addapi?name=<?php echo $_api['name'];?>&apiurl=<?php echo $_api['api'];?>">添加API</a>
    </td>-->

              <td width="80" align="center"><a style="color:#1E90FF;" href="<?php echo $_api['url'];?>" target="_blank">资源站官网</a>
              <td width="80" align="center"><a style="color:#1E90FF;" href="<?php echo $_api['help'];?>" target="_blank">采集帮助</a> </td>
              <td width="80" align="center"><a style="color:#1E90FF;" href="<?php echo $_api['tggroup'];?>" target="_blank">TG群组</a> </td>
              <td align="center"><a style="color:#1E90FF;" href="/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/Auto/autotype?name=<?php echo $_api['name'];?>&apiinfo=<?php echo $_api['apiinfo'];?>&playurl=<?php echo $_api['play'];?>&cjflag=<?php echo $_api['apiinfo'];?>&cjurl=<?php echo $_api['api'];?>&cname=<?php echo $_api['newname'];?>">一键添加解析/自动分类/定时任务</a>
              </td>
              <td width="80" align="center"><a style="color:#1E90FF;" href="/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/collect/api.html?ac=list&cjflag=<?php echo $_api['apiinfo'];?>&cjurl=<?php echo $_api['api'];?>">绑定分类</a>
              </td>
              <td width="80" align="center"><a style="color:#1E90FF;" href="/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/collect/api?ac=cj&h=24&cjflag=<?php echo $_api['apiinfo'];?>&cjurl=<?php echo $_api['api'];?>">采集当天</a>
              </td>
              <td width="80" align="center"><a style="color:#1E90FF;" href="/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/collect/api?ac=cj&h=168&cjflag=<?php echo $_api['apiinfo'];?>&cjurl=<?php echo $_api['api'];?>">采集本周</a>
              </td>
              <td width="80" align="center"><a style="color:#1E90FF;" href="/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/collect/api?ac=cj&h=&cjflag=<?php echo $_api['apiinfo'];?>&cjurl=<?php echo $_api['api'];?>">采集全部</a>
              </td>
              <td align="center"><a href="/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/auto/addt?cjflag=<?php echo $_api['apiinfo'];?>&cjurl=<?php echo $_api['api'];?>&cname=<?php echo $_api['newname'];?>&name=<?php echo $_api['name'];?>"
                  style="color:#1E90FF;">定时采集</a>
              </td>

              </td>
              </tr>
              <?php }} else { ?>
              暂无相关数据
              <?php } ?>

            </tbody>
          </table>
          <table class="layui-table">

            <thead>
              <tr>
                <th colspan="" scope="col"> <h3>注意事项
                            <br>1、优先添加分类、在执行自动绑定、不会自动创建分类【避免前端受到影响】
                            <br>2、一键绑定后不会在【采集----自定义接口】中显示
                            <br>3、定时采集 复制测试地址添加宝塔执行
                            <br>4、采集当天、本周、全部推荐新标签页打开 
                            <br>5、部分接口可能不为m3u8解析接口、请站长自行去官方获取云播解析
                            <br>6、请优先点击播放设置！！！播放设置！！！播放设置！！！
                          </h3>
                        </th>
              </tr>
            </thead>
          </table>